*{
    margin: 0px;
    padding: 0px;

}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
header{
    grid-column: 2/3;
}
.nav{
    background-color: #1992d4;
    grid-row: 1/3;
}