*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns:  1fr 4fr;
    grid-template-rows: 200px 1fr;
    background-color: #e2e8f0;
}
header{
    background-color: #fff;
    grid-column: 2/3;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.nav{
    background-color: #1992d4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(2, 1fr);
    padding: 2em;
}
.logo{
    display: flex;
    align-items: center;
}
.dashicon, .logotype{
    color: #fff;
    padding: 1em;
}
.logotype{
    font-size: 2em;
    font-weight: bolder;
    padding: 0px;

}
.navUpper, .navLower{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.navUpper a, .navLower a{
    display: flex;
    align-items: center;
    gap: 1em;
}
.listIcon{
    height: 32px;
    width: auto;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.projectsContainer{
    background-color: aquamarine;
    grid-area: 1/1/3/2;
}
.anouncementsContainer{
    background-color: chocolate;
}
.trendingContainer{
    background-color: chartreuse;
}
.card{
    background-color: #fff;
}