*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
:root{
    --color-light: #e3f171;
    --color-dark: #35565a;
    --color-blush: #e8e5e3;
    --color-blush-tinted: #d9d2ce;
    --color-grey: #999;
}

a{
    text-decoration: none;
    color: #fff;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns:  1fr 4fr;
    grid-template-rows: 200px 1fr;
    background-color: #e2e8f0;
}
header{
    padding: 2em;
    padding-right: 4em;
    background-color: var(--color-blush);
    grid-column: 2/3;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.iconDark{
    height: 32px;
    width: auto;
    stroke: var(--color-dark);
}
.searchContainer{
    display: flex;
    align-items: center;
    gap: 24px;
}
#search{
    border: 0px solid var(--color-dark);
    border-radius: 16px;
    background-color: var(--color-blush-tinted);
    width: 100%;
    height: 32px;
}
.userInfo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}
.nav{
    background-color: var(--color-dark);
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(2, 1fr);
    padding: 2em;
}
.logo{
    display: flex;
    align-items: center;
}
.dashicon, .logotype{
    color: #fff;
    padding: 1em;
}
.dashicon{
    stroke: var(--color-light);
    height: 40px;
    width: auto;
}
.logotype{
    font-size: 2em;
    font-weight: bolder;
    padding: 0px;

}
.navUpper, .navLower{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.navUpper a, .navLower a{
    display: flex;
    align-items: center;
    gap: 1em;
}
.listIcon{
    stroke: var(--color-light);
    height: 32px;
    width: auto;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.projectsContainer{
    background-color: var(--color-grey);
    grid-area: 1/1/3/2;
}
.anouncementsContainer{
    background-color: var(--color-grey);
}
.trendingContainer{
    background-color: var(--color-grey);
}
.card{
    background-color: #fff;
}